[Unit]
Description=realm
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service
[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
DynamicUser=true
ExecStart=/root/gost/gost -L=tcp://:10001  -F=forward+mtls://1.1.1.1:443?mbind=true
[Install]
WantedBy=multi-user.target
