[Unit]
Description=realm
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service
[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
DynamicUser=true
ExecStart=/srv/gost -L=mtls://:443/127.0.0.1:888
[Install]
WantedBy=multi-user.target
